doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 Video Game Characters
    a(href="/update-cobj") Add to this table
    table
      thead
        tr
          th Name
          th Game
          th Bio
      tbody
        each character in data
          tr
            td #{character.properties.name}
            td #{character.properties.game}
            td #{character.properties.bio}
