doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 Add a Video Game Character
    a(href="/") Return to the homepage
    form(method="POST" action="/update-cobj")
      div
        label(for="name") Name:
        input(type="text" id="name" name="name" required)
      div
        label(for="game") Game:
        input(type="text" id="game" name="game" required)
      div
        label(for="bio") Bio:
        textarea(id="bio" name="bio")
      button(type="submit") Submit
